#gameScreen {
  border: solid 2px black;
  background: url("./img/bg-700x400.png");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#player {
  display: none;
}

#asteroid {
  display: none;
}
